<mat-toolbar>
    Gratitude

  
    <div fxFlex fxLayoutAlign="flex-end center">
        <button mat-icon-button>
            <mat-icon>notifications</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>account_circle</mat-icon>
        </button>

      <button matTooltip="Add notes"  (click)="addNote($event)" mat-icon-button>
        <mat-icon>receipt</mat-icon>
    </button>
<!-- 
    <button (click)="delete(noteIndex)" matTooltip="Delete Notes" mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button> -->

    </div>
</mat-toolbar>

<mat-sidenav-container>
  



    <mat-sidenav-content>
        <div class="content mat-elevation-z4">    
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>