mat-toolbar {
    background: #00838f;
    color: white;
}



.content {
    height: calc(100vh - 107px);
    border-radius: 10px;
    margin: 5px;
    margin-left: 19px;
    padding: 16px;

    overflow: auto;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}


.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    margin-top: 8px;
    font-weight: normal;
}

.mainheader {
text-align: center;
padding: auto;




}
mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 500px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 50%;
    
    
    ;
}